# Dependencies
node_modules
.pnpm-store

# Build
dist
.turbo
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Database
*.db
*.db-journal

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

.cursor
.idea
.vscode

